.userCard{
    width: 31%;
    display: flex;
    background-color: white;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 240px;
    padding: 30px 20px;
    box-shadow: rgb(0 0 0 / 8%) 0px 5px 16px;
    border-radius: 8px;
    /* border-top: 8px solid rgb(235, 192, 52); */
}
.userCardButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;

}
.userCard>p{
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 20px;
    
}
.userCardButtonP{
    color: var(--mainColor--);
    font-weight: bold;
    letter-spacing: 1.2px;
}